name: Release Creation

on: 
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
      
    steps:
    - uses: actions/checkout@v4

    - name: Extract tag version number
      id: get_version
      uses: battila7/get-version-action@v2

    - name: Substitute Manifest and Download Links
      uses: microsoft/variable-substitution@v1
      with:
        files: 'module.json'
      env:
        version: ${{steps.get_version.outputs.version-without-v}}
        url: https://github.com/${{github.repository}}
        manifest: https://github.com/${{github.repository}}/releases/latest/download/module.json
        download: https://github.com/${{github.repository}}/releases/download/${{github.event.release.tag_name}}/module.zip

    # This line is corrected to match your REAL folders on GitHub
    - name: Create Zip
      run: zip -r ./module.zip module.json lang/ apps/ styles/ templates/ party-inventory.js

    - name: Update Release with Files
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true 
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: './module.json, ./module.zip'
        tag: ${{ github.event.release.tag_name }}
